.top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 14px;

    @include xs {
        display: none;
    }

    .top-link {
        font-size: 12px;
        color: #939393;
        margin-left: 18px;
        @include transition(all 0.3s ease-in-out);

        &:last-of-type {
            margin-left: 0;
            margin-right: 3px;
        }

        &:hover {
            color: $text;
        }

        @include xs {
            display: none;
        }
    }

    .lang {
        display: flex;
        align-items: center;

        span {
            margin-left: 8px;
        }


    }
}

#{$ltr} .top-bar {

    .top-link {
        margin-left: 0;
        margin-right: 18px;

        &:last-of-type {
            margin-left: 3px;
            margin-right: 0;
        }
    }

    .lang {

        span {
            margin-right: 8px;
            margin-left: 0;
        }
    }
}

.sec-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;

    .logo {
        @include xs {
            max-width: 60%;
        }
    }
}

.mo-user-nav {
    display: flex;
    align-items: center;

    @include xs {
        margin-top: 0;
    }

    .user-anchor {
        color: $text;
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-right: 18px;
        position: relative;
        @include transition(all 0.3s ease-in-out);

        @include xs {
            font-size: 20px;
        }

        .mo-text {
            font-size: 14px;
            margin-right: 3px;

            @include xs {
                display: none;
            }
        }

        .items {
            right: -7px;
            top: -7px;
            position: absolute;
            width: 13px;
            height: 13px;
            padding: 2px 0;
            line-height: 13px;
            background-color: $blue;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: #fff;
            font-size: 10px;
        }

        &:hover {
            color: $blue;

            .items {
                animation: vibe 0.7s ease forwards;
            }
        }
    }

    .mo-log-icon {
        .mo-text {
            display: flex;
            align-items: center;

            &:after {
                content: "\e874";
                font-family: 'Linearicons-Free';
                color: #333333;
                font-size: 8px;
                margin-right: 6px;
            }

            @include xs {
                display: none;
            }
        }

        @include xs {
            display: none;
        }
    }

    .mo-wishlist-icon {

        @include xs {
            display: none;
        }
    }

    .mo-menu-icon {
        display: none;

        @include sm {
            display: flex;
        }
    }

    .mo-search-icon {
        display: none;

        @include sm {
            display: flex;
        }
    }
}

#{$ltr} .mo-user-nav {
    .user-anchor {
        margin-right: 0;
        margin-left: 18px;

        @include xs {
            &.mo-menu-icon {
                margin: 0;
            }
        }

        .mo-text {
            margin-left: 3px;
            margin-right: 0;
        }

        .items {
            right: auto;
            left: 12px;
            top: -5px;
        }
    }

    .mo-log-icon {
        .mo-text {
            &:after {
                margin-left: 6px;
                margin-right: 0;
            }
        }
    }
}

.user-anchor-div {
    position: relative;

    &:hover {
        .drop-menu {
            visibility: visible;
            opacity: 1;
        }

        .user-anchor {
            color: $blue;
        }
    }

    @include xs {
        display: none;
    }
}

.drop-menu {
    position: absolute;
    width: 132px;
    height: auto;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    @include transition(all 0.3s ease-in-out);

    @include xs {
        left: 28%;
    }

    &:before {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-width: 6px;
        border-color: transparent transparent #ffffff;
        border-style: solid;
        top: -12px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }

    li {
        width: 100%;
        border-bottom: 1px solid #ededed;
        padding-bottom: 8px;
        margin-bottom: 6px;

        &:last-of-type {
            border: none;
        }
    }

    a {
        color: #939393;
        @include transition(all 0.3s ease-in-out);
        font-size: 14px;

        &:hover {
            color: $text;
        }
    }
}

#{$ltr} .drop-menu {

    @include xs {
        left: 72%;
    }
}